# This file define code owners for GitHub pull requests
# NOTE: The last matching rule is the one that defines the owner.

* @KananSu @KingAlen @lynx-family

# Files/Directories that don't require a strict owner check.
/Android.bp
/Android.bp.extras
/BUILD
/BUILD.*
/examples/**/*
/ui/src/test/**/*
/test/**/*
